 <div class="navbar-header">
                <!-- mobile menu -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{url_for('home')}}">{{title}}</a>
                <!-- 왼쪽에 보이는 버튼 -->
 </div>
            <!-- /.navbar-header -->
